.container {
    padding: 0 0 3px 0;
    margin-top: 3px;
    width: 250px;
    min-width: 230px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .25);
    position: relative; /* Posición relativa para alinear los botones */
    background-image: url('./card-background.jpg'); /* Ruta relativa a la imagen de fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
    background-position: center; /* Centra la imagen de fondo */
    color: white;
}

.image {
    width: 100%;
    border-radius: 18px;
}

.container h2, .delete {
    padding: 1px;
}

.link {
    text-decoration: none;
    color: inherit;
    text-align: left;
}

/* Estilos específicos para los botones */
.container {
    display: flex;
    justify-content: space-between; /* Distribuye los elementos en los extremos */
    align-items: center; /* Alinea verticalmente los elementos */
}

.deleteButton,
.editButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 3px;
    transition: background-color 0.3s ease;
}

.delete {
    width: 20px;
    height: 20px;
    margin-left: 25px;
    width: 25px;    
}

.editButton {
    margin-right: 25px;
}